# Python
__pycache__/
*.pyc
.venv/
env/

# Django
staticfiles/
media/
*.sqlite3

# Env
.env
backend/.env
frontend/.env
frontend/.env.local
frontend/.env.production.local

# Node
frontend/node_modules/
frontend/dist/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# ML/cache
*.h5
*.keras
*.pkl
*.joblib
.huggingface/
